:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --font-family: 'Arial, sans-serif';
    --font-size: 16px;
    --border-radius: 5px;
}

.frame{
    position: absolute;
    background-color: #fafafa;
    color: black;
    height: 1920px;
    width: 1080px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

