:root {
    --primary-color: #e0e0e0;
    --secondary-color: #ff9800;
    --font-family: 'Arial, sans-serif';
    --font-size: 16px;
    --border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.frame{
    position: absolute;
    background-color: #fafafa;
    color: black;
    height: 1920px;
    width: 1080px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

