:root {
    --primary-color: #404040;
    --secondary-color: #fafafa;
    --font-family: Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* disable scroll */
    background: var(--primary-color);
    font-family: var(--font-family);
}

.frame {
    height: 100vh;
    width: 100vw;
    background: var(--secondary-color);
    position: relative;
}

.nav-bar {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 90%;
    max-width: 380px;
    border-radius: 100px;
    background: linear-gradient(to right, #373737, #585858);
}
