:root {
    --primary-color: #404040;
    --secondary-color: #fafafa;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --border-radius: 5px;
}

body {
    margin: 0;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.frame {
    aspect-ratio: 9/16;
    width: 90vh; /* scale based on height */
    max-width: 430px; /* stop at big phones */
    background: var(--secondary-color);
    
    box-shadow: 0 8px 24px rgba(0,0,0,.2);
}
